SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=cravon-backend.onrender.com,127.0.0.1,localhost
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/Cravon?retryWrites=true&w=majority
RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...
